<app-headeradmin></app-headeradmin>
<h3 style="color: red" class="mb-3">Thêm Mới Loại Sản Phẩm</h3>
<div class="mb-3">
    <label for="categoryname" class="form-label">Name Category</label>
    <input type="text" class="form-control" #categoryname>
</div>

<div class="mb-3">
    <label for="categorystatus" class="form-label">Trạng Thái</label>
    <input type="text" class="form-control" #categorystatus>
</div>

<div class="mb-3">
    <button type="button" (click)="add(categoryname.value, categorystatus.value); categoryname.value=''; categorystatus.value=''" routerLink="/categoryadmin">Add</button>
</div>
<app-footeradmin></app-footeradmin>