<app-headeradmin></app-headeradmin>



   
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            
            <div class="col-lg-6 col-xl-3">
                <div class="card widget-box-three" style="border-radius: 20px; background-color: rgb(0, 255, 106); color: rgb(5, 6, 7);">
                    <div class="card-body">
                        <div class="float-right mt-2">
                            <i class="mdi mdi-chart-areaspline display-3 m-0"></i>
                        </div>
                        <div class="overflow-hidden" >
                            <a href="productadmin" style="color: black;">
                                <p class="text-uppercase font-weight-medium text-truncate mb-2">Sản Phẩm</p>
                            </a>
                            

                        </div>
                    </div>
                </div>
            </div>
            


            <div class="col-lg-6 col-xl-3">
                <div class="card widget-box-three" style="border-radius: 20px; background-color: rgb(0, 255, 106); color: rgb(5, 6, 7);">
                    <div class="card-body">
                        <div class="float-right mt-2">
                            <i class="mdi mdi-account-convert display-3 m-0"></i>
                        </div>
                        <div class="overflow-hidden">
                            <a href="useradmin" style="color: black;">
                                <p class="text-uppercase font-weight-medium text-truncate mb-2">Người Dùng</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-xl-3">
                <div class="card widget-box-three" style="border-radius: 20px; background-color: rgb(0, 255, 106); color: rgb(5, 6, 7);">
                    <div class="card-body">
                        <div class="float-right mt-2">
                            <i class="mdi mdi-layers display-3 m-0"></i>
                        </div>
                        <div class="overflow-hidden">
                            <a href="categoryadmin" style="color: black;">
                                <p class="text-uppercase font-weight-medium text-truncate mb-2">Loại Sản Phẩm</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-xl-3">
                <div class="card widget-box-three" style="border-radius: 20px; background-color: rgb(0, 255, 106); color: rgb(5, 6, 7);">
                    <div class="card-body">
                        <div class="float-right mt-2">
                            <i class="mdi mdi-av-timer display-3 m-0"></i>
                        </div>
                        <div class="overflow-hidden">
                            <a href="supplieradmin" style="color: black;">
                                <p class="text-uppercase font-weight-medium text-truncate mb-2">Nhà Cung Cấp</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            

        </div><hr><hr>

        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="card widget-box-three" style="border-radius: 20px; background-color: rgb(0, 162, 255); color: rgb(5, 6, 7);">
                    <div class="card-body">
                        <div class="float-right mt-2">
                            <i class="mdi mdi-account-convert display-3 m-0"></i>
                        </div>
                        <div class="overflow-hidden">
                            <a href="employeeadmin" style="color: black;">
                                <p class="text-uppercase font-weight-medium text-truncate mb-2">Nhân Viên</p>
                            </a>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

    </div>




<app-footeradmin></app-footeradmin>