.em-table{
    width: 800px;
    padding: 20px 25px;
    background-color: white;
    margin: 60px 0;
    border-radius: 3px;
}

.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #435d7d;
    color: white;
}
h2.table-title{
    color: white;
}

.add{
    background-color: #5cb85c;
    color: white;
}

.btn-primary{
    background-color: #337ab7;

}

th{
    text-align: center;
}