<app-headeradmin></app-headeradmin>
<div class="container em-table" style="width: 100%; margin: auto">
    <div class="headers">
        <h2 class="table-title">manage Categorys</h2>
        <button class="btn add" routerLink="/addcategory">Add categorys</button>
    </div>
    <table  class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Trạng Thái</th>

                
            </tr>
        </thead>
        <tbody class="text-center" *ngFor="let cat of categorys">
            <tr>

                <td>{{cat.CatName}}</td>
                <td>{{cat.CatStatus}}</td>

                <td>
                    <button class="btn btn-info" routerLink="/editcategory/{{cat.CAT_ID}}">edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteCategory(cat.CAT_ID)">delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<app-footeradmin></app-footeradmin>
