
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>STT</th>
                        <th>ảnh sản phẩm</th>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Tổng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let cart of carts; let i=index">
                        <td>{{i+1}}</td>
                        <img src="http://localhost/laravel_api/public/storage/img/{{cart.image}}" alt="" style="width: 100px;">
                        <td class="align-middle"> {{cart.name}}</td>
                        <td class="align-middle">{{cart.price | currency: 'VND'}}</td>
                        <td class="align-middle">{{cart.quantity}} </td>
                        <td class="align-middle">{{subtotal(cart) | currency: 'VND'}}</td>

                    </tr>
                </tbody>

            </table>
            
        </div>
        

    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên Người Nhận</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <input type="text" class="form-control" #username >
                        <input type="text" class="form-control" #userstatus >


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>thành tiền: {{totalprice | currency:'VND'}}</div>
<button style="border-radius: 10px; background-color: red; color: white" (click)="adddonhang(username.value, userstatus.value); username.value=''; userstatus.value=''" >Đặt Hàng</button>

